<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Dr. Rafael Marconato - Estética</title>
</head>
<body>
    <!--TOPBAR-->
    <div class="topbar">
        <div class="container">
            <div class="redes-sociais ">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
            <p>Estamos tomando todos os cuidados em relação ao COVID-19</p>
        </div>
    </div>
    
    <!--HEADER-->
    <div class="navbar">
        <div class="container">
            <h1 class="grid-4">Rafael Marconato</h1>
            <nav class="grid-12">
                <ul>
                    <li><a href=""><%= data.userQuery[0] %></a></li>
                    <li><a href="">sobre</a></li>
                    <li><a href="">estética facial</a></li>
                    <li><a href="">estética corporal</a></li>
                    <li><a href="">contato</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!--DIV-->
    <header class="header">
        <div class="container">
            <div class="content grid-16">
                <p>Para mulheres e homens que ousam <b>elevar</b> cada vez mais sua <b>autoestima</b></p>
                <h3>Agende agora uma avaliação</h3>
                <div class="teste">
                    <a href="" class="btn btn-fundo-azul">Agendar</a>
                    <a href="" class="btn btn-fundo-ouro">Tratamentos</a>
                </div>
                
            </div>
        </div>
    </header>

    <form method="post" action="/post">
        <input type="text" name="title">
        <input type="text" name="body">
        <button type="submit"></button>
    </form>

    <div class="container">
        <div class="sobre">
            <img src="./img/img-sobre.jpeg" alt="">
            <div class="texto">
                <span>Olá</span>
                <span>Eu sou o </span><h2>Dr. Rafael Marconato</h2>
                <p>farmacêutico pós-graduado em Estética Avançada. 
                    A área da estética em constate evolução requer grandes aperfeiçoamentos e dedicação 
                    para que o seu tratamento possa ser cada vez mais personalizado, partindo do princípio 
                    que cada protocolo proposto é único, ou seja, individualizado.  Seja ele realizado dentro 
                    do consultório ou uso home care para complementação do tratamento e obtenção de melhores 
                    resultados. </p>
                <p>Os tratamentos são realizados partindo do conhecimento e técnicas cientificas que associados podem harmonizar e tratar diversas disfunções estéticas.
                    Tenho como propósito que as mulheres e os homens possam elevar cada vez mais sua autoestima proporcionando mais segurança e confiança no seu dia a dia. 
                    Conte comigo!!!</p>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/7d2aa3f5fd.js" crossorigin="anonymous"></script>
</body>
</html>